{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="{{ test.thumbnail.url }}" alt="{{ test.title }}" class="img-fluid test-detail-img">
        </div>
        <div class="col-md-6">
            <h1>{{ test.title }}</h1>
            <div class="d-flex mb-3">
                <div class="test-stat">
                    <svg width="16" height="16" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.593 6.432a.5.5 0 0 0 0-.864L1.085.605a.5.5 0 0 0-.752.431v9.928a.5.5 0 0 0 .752.431l8.508-4.963Z" fill="#75787B"/>
                    </svg>
                    <span>{{ test.views }} 조회</span>
                </div>
                <div class="test-stat">
                    <svg width="16" height="16" fill="none">
                        <path d="M8 2.748V11.752M3 6.75H13" stroke="#75787B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <span>{{ test.created_at|date:"Y-m-d" }}</span>
                </div>
            </div>
            <div class="mb-4">
                <span class="badge bg-secondary">{{ test.category.name }}</span>
            </div>
            <p>{{ test.description }}</p>
            <a href="{% url 'take_test' test.slug %}" class="btn btn-primary btn-lg mt-3">테스트 시작하기</a>
        </div>
    </div>
</div>
{% endblock %}