<footer class="bg-light py-4 mt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>새롱</h5>
                <p>재미있는 심리테스트를 제공하는 플랫폼</p>
            </div>
            <div class="col-md-4">
                <h5>바로가기</h5>
                <ul class="list-unstyled">
                    <li><a href="{% url 'home' %}" class="text-decoration-none">홈</a></li>
                    <li><a href="{% url 'test_list' %}" class="text-decoration-none">심리테스트</a></li>
                    <li><a href="{% url 'about' %}" class="text-decoration-none">소개</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>연락처</h5>
                <p>이메일: info@saerong.com</p>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 text-center">
                <p class="mb-0">&copy; 2025 새롱. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>