{% load static %}
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'images/logo.png' %}" alt="새롱 로고" height="40">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">홈</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'test_list' %}">심리테스트 구경하기</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">소개</a>
                    </li>
                </ul>
                <div class="d-flex">
                    {% if user.is_authenticated %}
                        <a href="{% url 'account_logout' %}" class="btn btn-outline-primary me-2">로그아웃</a>
                    {% else %}
                        <a href="{% url 'account_login' %}" class="btn btn-outline-primary me-2">로그인</a>
                        <a href="{% url 'account_signup' %}" class="btn btn-primary">회원가입</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</header>